<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Quiz Vragen</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleIdentifier</key>
	<string>nl.vandermeulen.quizvragen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Quiz Vragen</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DINNextLTPro-Black.otf</string>
		<string>DINNextLTPro-Bold.otf</string>
		<string>DINNextLTPro-Light.otf</string>
		<string>DINNextLTPro-Medium.otf</string>
		<string>DINNextLTPro-MediumCond.otf</string>
		<string>DINNextLTPro-Regular.otf</string>
		<string>OmroepBold.otf</string>
		<string>OmroepLight.otf</string>
	</array>
	<key>UILaunchImageFile~ipad</key>
	<string>Default-Landscape</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UILaunchImageFile~iphone</key>
	<string>Default-iPhone</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-72.png</string>
				<string>Icon-Small-50.png</string>
				<string>Icon-Small.png</string>
				<string>Icon-Small@2x.png</string>
				<string>Icon-Small-50@2x.png</string>
				<string>Icon-72@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
</dict>
</plist>
